
* {
  margin: 0px;
  padding: 0;
}

body {
  background-color: #aee1f9;
  background-image: linear-gradient(45deg, #aee1f9 0%, #f6ebe6 74%);
  background-size: 400%;
  margin: 0px; 
  background-position: center;
  display: flex;
}

/* idea: animate 5s transition on turn flip */

.turn-blue {
  animation: bg-animationBlue 5s;
  animation-fill-mode: forwards;
}

.turn-red {
  animation: bg-animationRed 5s;
  animation-fill-mode: forwards;
}

.turn-null {
  animation: bg-animationNull 2s;
  animation-fill-mode: forwards;
}

@keyframes bg-animationRed {
  0% { }
  100% { background-position: right; }
}

@keyframes bg-animationBlue {
  0% {}
  100% { background-position: left; }
}

@keyframes bg-animationNull {
  0% {}
  100% { background-position: center; }
}



#container {
  width: 100%;
  height: 100vh;  
  display: flex; 
  flex-direction: column;
} 


#game {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20vw 50vh auto ;
  grid-template-rows: 10vh 20vh 50vh 20vh;  
}

header {
  margin-bottom: 1em;
}

.title {
  grid-column: 2;
  grid-row: 1;
  align-self: end;
  font-family: 'Quicksand', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem, 0, 1rem, 0; 
}

#board-container {
  justify-self: center;
  align-self: center;
  grid-column: 2 ;
  grid-row: 3 ;
  place-items: center;
}

#board {
  display: grid;
  grid-template-columns: repeat(5, 9vh); 
  grid-template-rows: repeat(5, 9vh); 
  z-index: 1;
}


.opponent-row {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-self: end;
  justify-content: center;
  margin: 5px;
  
}

.on-deck-row {
  grid-column: 3;
  grid-row: 3;
  display:flex;
  flex-direction: column;
  align-self: center;
  justify-self: start;
  margin: 5px;

  .turn-circle {
    display: flex;
    height: 12vh;
    width: 12vh;
    border-radius: 50%;
    // border: 2px double gray;
    align-items: center;
    justify-content: center;
    margin: 2.5vh;
    font-family: 'Quicksand',
    sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, .2);
  }
  .turn-blue-circle{
    background-image: linear-gradient(to bottom, #0099f7 10%, #81eff9 100%);
    color: #FFF;
    visibility: hidden;
  }
  .turn-red-circle{
    background-image: linear-gradient(to bottom, #f8a7a6 0%, #ce0502 100%);
    color: #FFF;
    visibility: hidden;
  }

}

.player-row{ 
  grid-column: 2;
  grid-row: 4; 
  display: flex; 
  align-self: start;
  justify-content: center; 
  margin: 5px;  
 }


.square.inactive {
  border: 0.5px solid rgb(154, 154, 154);
  display: flex;
  /* background-color: rgb(172, 123, 59); */
  background: #DBE6F6;
  background: radial-gradient(circle, #DBE6F6 1%, #bdc3c7 100%);
  min-width: 40px;
  min-height: 40px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px, 3px, 18px, rgba(0, 0, 0, 0.5);
  /* opacity: 0; */
}

.square.active {
  border: 2px dashed rgb(140, 140, 140);
  display: flex;
  /* background-color: rgb(172, 123, 59); */
  // background: #7eeb8e;
  background: radial-gradient(circle, #dfdfd4 0%, #f4f3b0 100%);
  min-width: 40px;
  min-height: 40px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px, 3px, 18px, rgba(0, 0, 0, 0.5);
  cursor: pointer;
  /* opacity: 0; */
}

.square.inactive.shrine-red {
  background: radial-gradient(circle, #DBE6F6 1%, #e98e8c 100%);
}
.square.inactive.shrine-blue {
  background: radial-gradient(circle, #DBE6F6 1%, #8cb9e9 100%);
}

.modal__howTo {
  height: 100%;
  max-width: 100%;
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  visibility: hidden;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  background-color: #FFF;
  height: 100%;
  width: 60%;
  padding: 1em;
}

.modal__fill {
  font-family: 'Quicksand', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  font-size: 1rem;
  color: #302f2f;
  z-index: 4; 
  overflow: auto;
}

.modal__fill-active {
  visibility: visible;
  z-index: 3;
}



/* 
Font families: 
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
*/




/* Grid Layout help: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout */
