
.menu-container {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.75rem;
  color: #302f2f; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  grid-row: 3; 
  border-radius: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 2rem;
  margin:2px;
}

.menu-box{
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, .2);
  height: 45vh;
  width: 70%; 
  justify-content: space-around;
}

.menu {
  display: flex;
  border-radius: 2px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, .2);
  width: 90%;
  height: 15%;
  margin: 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer; 
  font-size: 1rem; 
}

/* doesn't work... tried on div, id, a */
.link-tab {
  text-decoration: none;
  color: inherit;
}

