// --- MODAL WIN ---

.modal__win {
  // visibility: visible;
  border: 3px outset rgb(173, 173, 173);
  display: none;
  flex-direction: column;
  grid-column: 2;
  grid-row: 3;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  z-index: 10;
  font-family: 'Quicksand', sans-serif;
  background-color: #fffffc;
  background-image: linear-gradient(to bottom, #f0f0d7 0%, #dedacf 74%);
  border-radius: 6px;
  box-shadow: 0px, 3px, 18px, rgba(0, 0, 0, 0.5);

}

.win-color{
  z-index: 10;
  font-size: 3rem;
}

.win-type{
  z-index: 10;
  font-size: 2.5rem;
}

#btn-restart {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  width: 25vh;
  font-size: 1.5rem;
  background-color: aliceblue;
  border-radius: 6px;
  box-shadow: 0px, 3px, 18px, rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

// --- MODAL HOW TO ---

.modal__howTo {
  height: 100%;
  max-width: 100%;
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  visibility: hidden;
  justify-content: center;
  align-items: center;
}

.modal {
  display: flex;
  background-color: #FFF;
  height: 100%;
  width: 70%;
  padding: 1em;
}

.modal__fill {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: #302f2f;
  z-index: 4;
  overflow: auto;
}

.modal__fill-active {
  visibility: visible;
  z-index: 3;
}

// --- MODAL ALL CARDS ---

.modal__allCards {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  visibility: hidden;
  justify-content: center;
  align-items: center;
}

.modal__cards {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  color: #302f2f;
  z-index: 4;
  overflow: auto;
}

.modal__cards-active {
  visibility: visible;
  z-index: 3;
}

.all-cards-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  h1 {
    font-size: 3rem;
    justify-self: center;
    margin-bottom: 1rem;
  }
  h3 {
    font-size: 1.1rem;
    font-style: italic;
    justify-self: center;
    margin-bottom: 1rem;
  }
  .move-cards-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
    padding-bottom: 3rem;

    .move-card {
      width: 24vh;
      height: 18vh;
      margin: 1rem;
    }
  }
}

// --- MODAL FILL ---
.how-to-play {
  padding: 1rem;
}

.htp-title {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 1rem;
}

.htp-title-description {
  font-size: 1.2rem;
  font-style: italic;
  margin: 1rem;
  padding-top: 0.5rem
  // border: 2px solid #302f2f;
}

.section {
  padding: 1rem;
}
.htp-setup {
  // padding: 1rem;
}

.htp-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

ul {
  padding-left: 1rem;
  list-style: circle;
  li {
    padding-top: 0.5rem;
  }
}

.win-types {
  padding-top: 0.5rem;
  #p-win-type{
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: underline;
    & + p {
      // text-indent: 0.5rem;
      font-style: italic;
      padding: 0.5rem;
    }
  }
}

.gif-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;

  .gif-container-img {
    max-width:40vw;
    max-height:40vw;
    object-fit: contain;
  }
}

.about {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  p {
    padding-top: 0.5rem;
  }
}







