.win-modal{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

// Board Styling:
// justify-self: center;
// align-self: center;
// grid-column: 2;
// grid-row: 3;
// place-items: center;

.win-color{

}

.win-type{

}

.btn-restart {

}